# 2

In [ ]:
# 2
# Write a python program to return a string consisting of the first 3 and last 3 characters of a string you recieved from user.
# if string length is less than 3, return "empty string"

In [8]:
a = "beko"

In [9]:
a[:3]

'bek'

In [10]:
a[-3:]

'eko'

In [11]:
company = input("  enter the your company    :")
if len(company) >=3:
    print(company[:3] + company[-3:])
else:
    print("empty_string")

  enter the your company    :beko
bekeko

# 3

In [ ]:
# Write  aprogram to find how may times substring"Mr. Bean" appears in the given string.
# str_x = "Mr.Bean is good actor and Mr. Bean is  very funny."

In [16]:
str_x = "Mr.Bean is good actor and Mr.Bean is  very funny."
a = str_x.count("Mr.Bean")
a

2

In [15]:
print(f"Mr.Bean appeared {a} times.")

Mr.Bean appeared 2 times.

In [18]:
print("Mr.Bean appeared {} times.".format(a))

Mr.Bean appeared 2 times.

# 4

In [ ]:
# Write  a python program to display your like name, age, job in three different lines.

Example:

name: Bulent
age: 45
Job : data scientist

In [ ]:
per = input("Please enter your name, age and job seperating them with comma")

In [19]:
score = "90,99,100,85,92"
score.split(",")

['90', '99', '100', '85', '92']

In [22]:
per = input("Please enter your name, age and job seperating them with comma").split(",")

print("name",per[0])
print("age",per[1])
print("job",per[2])

Please enter your name, age and job seperating them with commaBulent,45,DS
name Bulent
age 45
job DS

In [23]:
print("my name is\n bulent")

my name is
 bulent

In [27]:
per = input("Please enter your name, age and job seperating them with comma     :").split(",")
 
print(f"name: {per[0]}\n  age: {per[1]}\n  job: {per[2]}")

Please enter your name, age and job seperating them with comma     :Bulent,45,DS
name: Bulent
  age:45
  job: DS

# 5

In [ ]:
# Create an algorithm that asks the employee for weekly working hours and hourly wage information and ultimately calculate 
#the employee's weekly salary
# Note >> Work over 40 hours per week is paid 1,5 times the wage.

In [2]:
work_hours = int(input("enter weekly working hour"))
hourly_wage = int(input("enter your hourly_wage"))


if work_hours > 40 :
    weekly_wage =  (work_hours - 40) * (1.5 * hourly_wage ) + 40 * hourly_wage
else:
    weekly_wage = work_hours * hourly_wage
print(f"Your weekly wage is {weekly_wage}")

enter weekly working hour25
enter your hourly_wage15
 Your weekly wage is 375

# 6

In [ ]:
# Create an algorithm that will return True if the two integer values you get from user are equal or the difference of  these
# numbers is  a multiple of 5.

In [3]:
x  = int(input("enter a number"))
y  = int(input("enter a number"))

if x == y or abs(x-y) % 5 == 0: # abs  mutlak değer alır
    print("True")
else:
    print("False")

enter a number3
enter a number8
True

In [5]:
abs(3-8)%5

0

In [6]:
(3 - 8)

-5

In [7]:
(3 - 8) % 5

0

In [8]:
(4 - 8) % 5

1

In [12]:

x  = int(input("enter a number"))
y  = int(input("enter a number"))

print( x == y or abs(x-y) % 5 == 0) # print içinde  bool ifadeleri de çalıştırabiliriz

enter a number11
enter a number23
False

# 7

In [ ]:
# Create an algorithm that will return True if  the two integer values you get  from the user are equal or 
# the difference of  these  numbers is  a multiple of 5.

In [1]:
x = int(input ("enter a number"))
y = int(input ("enter a number"))

if x == y or  abs(x - y) % 5 == 0:
    print("True")
else:
    print("False")

enter a number3
enter a number8
True

In [2]:
abs(3-8)% 5  # abs   mutlak değer alır

0

In [3]:
(3- 8) % 5

0

In [6]:
x = int(input ("enter a number"))
y = int(input ("enter a number"))

print(x == y or  abs(x - y) % 5 == 0)

enter a number8
enter a number5
False

# 8

In [ ]:
# if the two objects received from the user are of an integer type, write  aPython program to sum the two objects.

In [4]:
x = input("please enter a number ")
y = input("please enter a number ")


if x.isnumeric() and y.isnumeric():
    a =  int(x) + int(y)
else :
    a = "you have not entered number"
print(a)

please enter a number 5a
please enter a number 6
you have not entered number

# 9

In [8]:
country = input("enter country name")
area = input("enter the area of the country")

earth = 148940000


percentile =round((int(area) / earth) * 100,2)
print(f"{country} is {percentile} % of the total  world's  landmass")

enter country nameturkey
enter the area of the country782592
turkey is 0.53 % of the total  world's  landmass

# 10

In [12]:
#BMI body mass index

In [16]:
w = int(input("please enter your weight in kg"))
h = int(input("please enter your height in cm"))

result =round(w / ((h / 100) ** 2),2 )
print(result)
if result < 18.5 :
    body = "underweight"
elif result <25 :
    body = "normal"
elif result < 30:
     body = "owerweight"
elif result <35:
    body ="obese"
else:
    
    body ="extremly obese"
print(f" your bmi is : {result} and your body type is :{body}")

please enter your weight in kg90
please enter your height in cm176
29.05
 your bmi is : 29.05 and your body type is :owerweight

# 11

In [ ]:
 # Write python code that extracts the phone  number in a given string expression.

In [17]:
str = " phone number  is (111) 222- 33- 44"

In [18]:
output =""

for i in str:
    
    if  i in "0123456789":
        output += i
print(output)

1112223344

In [19]:
output =""

for i in str:
    
    if  i.isnumeric():
        output += i
print(output)

1112223344

#  12

In [ ]:
#  notu  harfe çevirme

In [3]:
s = int(input("please enter your score: "))

if 0 <= s <=100:
    if s >=80:
        result = "A"
    elif s >= 65:
        result = "B"
    elif s >= 55:
        result ="C"
    elif s >= 50:
        result = "D"
    elif s < 50:
        result = "F"
    print(f"Your letter score is {result}")  
else:
    print("invalid input")

please enter your score: 80
Your letter score is A

# 13

In [ ]:
# Example >> ( Derya, dErya, deRya, derYa, deryA)

In [5]:
x = "derya"

In [6]:
x[:2]

'de'

In [9]:
x[2].upper()

'R'

In [10]:
x[3:]

'ya'

In [11]:
x[:2] + x[2].upper() + x[3:]

'deRya'

In [13]:
word = input("Enter a word : ").lower()

result = []

for i in range(len(word)):
    result.append(word[:i] + word[i].upper() + word[i+1:])
print(result)

Enter a word : Hülya
['Hülya', 'hÜlya', 'hüLya', 'hülYa', 'hülyA']

In [14]:
len(word)

5

# 14

In [ ]:
# input : " Damla"
# output :{0: 'D', 1: 'a', 2: 'm', 3: 'l', 4: 'a'}

In [15]:
dic = { 1: "a", 2 :"b"}

In [16]:
dic[2]

'b'

In [18]:
x = input ("enter a word : ")

dict1 = {}
for i in range(len(x)):
    dict1[i] = x[i]
print(dict1)

enter a word : Damla
{0: 'D', 1: 'a', 2: 'm', 3: 'l', 4: 'a'}

In [21]:
list(enumerate("Derya"))

[(0, 'D'), (1, 'e'), (2, 'r'), (3, 'y'), (4, 'a')]

In [22]:
dict(enumerate("Derya"))

{0: 'D', 1: 'e', 2: 'r', 3: 'y', 4: 'a'}

In [23]:
dict(enumerate("Hülya", 100))

{100: 'H', 101: 'ü', 102: 'l', 103: 'y', 104: 'a'}

# 15  multilication table

In [3]:
a = int(input('Enter a number'))

for i in range(11):
    print(f" {a} x {i} = {a * i}")

Enter a number5
 5 x 0 = 0
 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45
 5 x 10 = 50

In [4]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
a = int(input('Enter a number'))

for i in range(11):
    print("{} x {} = ".format(a,i), a*i)

Enter a number5
5 x 0 =  0
5 x 1 =  5
5 x 2 =  10
5 x 3 =  15
5 x 4 =  20
5 x 5 =  25
5 x 6 =  30
5 x 7 =  35
5 x 8 =  40
5 x 9 =  45
5 x 10 =  50

# 16  write a python program that accepts an figure (n) and computes the value of n +nn+nnn

In [6]:
# (5+55+555) >> 655

In [9]:
a = input("please enter a figure:  ")
if a.isdigit():
    if int(a) in [0,1,2,3,4,5,6,7,8,9]:
        result = int(a) + int(a*2) + int(a*3)
    else:
        result = "make sure you enter figure"
else:
    result = "make sure you enter figure"
    
    
print(result)

please enter a figure:  50
make sure you enter figure

In [ ]:
# replace

In [11]:
text = 'restart'
new_text = text[0]


for i in range(1, len(text)):
    if text[i] == text[0]:
        new_text += "?"
    else:
        new_text +=text[i]
print(new_text)

resta?t

In [13]:
x = input("enter a word  ")

x_new =x.replace(x[0], "?")[1:]

print(x_new)
print(x[0]+x_new)

enter a word  restart
esta?t
resta?t

# 17

In [2]:
text = 'restart'
new_text = text[0]


for i in range(1, len(text)):
    if text[i] == text[0]:
        new_text +="?"
    else:
        new_text += text[i]
print(new_text)

resta?t

In [3]:
text[0]

'r'

In [4]:
len(text)

7

In [6]:
x = input('enter a word')

x_new =  x.replace(x[0],"?")[1:]
print(x_new)
print(x[0]+ x_new)

enter a wordrestart
esta?t
resta?t

# 18

In [8]:
odds =[]
evens = []

for i in range(1,51):
    if i % 2 == 0:
        evens.append(i)
    else:
        odds.append(i)
print(odds)
print(evens)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [9]:
odds = [i for i in range(1,51) if i % 2 ==1]
evens = [i for i in range(1,51) if i % 2 ==0]
print(odds)
print(evens)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [11]:
print(f"odds :{[i for i in range(1,51) if i % 2 ==1]}")
print(f"evens :{[i for i in range(1,51) if i % 2 ==0]}")

odds :[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
evens :[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [12]:
range(10)

range(0, 10)

In [13]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
list(range(15,20))

[15, 16, 17, 18, 19]

In [15]:
list(range(20,15,-1))

[20, 19, 18, 17, 16]

In [21]:
n1 = int(input("enter a number"))
n2 = int(input("enter a number"))

if n1<n2 :
    print(list(range(n1,n2+1)))
elif n1>n2:
    print(list(range(n1,n2-1,-1)))
else:
    print(n1)

enter a number25
enter a number15
[25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15]

# 20 Assume a long string containing more than  one word and reverse it word  by word.

In [3]:
name = "My name is Bülent and  I'm 45 years old"
    
word_list = name.split(" ")
#print(word_list)

n = len(word_list)-1

while n>=0 :
    print(word_list[n], end =" ")
    n -= 1

old years 45 I'm  and Bülent is name My

In [5]:
#2. yol

name = "My name is Bülent and  I'm 45 years old"
    
word_list = name.split(" ")

print(*word_list[::-1]) # * liste type ni   tuple  çevirdi

old years 45 I'm  and Bülent is name My

In [9]:
name1 = "Black"
print(name1[::-3])

kl

# 21

In [11]:


r = int(input("please enter r value"))

diff_square = ((2*r)**2)- ((r**2)*2)

print(f"the diffrence is {diff_square}")

please enter r value3
the diffrence is 18